<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>
<textarea aria-placeholder="Placeholder for Parent component inside app component!">
  <app-parent-component></app-parent-component>  
</textarea>

<div>
  <i>Placeholder for Parent component inside app component!</i>
      <app-parent-component></app-parent-component>  
</div>

<div class='.app-class-selector-component'>
Hi! this is class selector loaded from '.class-selector-name' defined in component metadata Yeyeeh!!!
</div>
 <div>
   <i>Congratulations! this is attribute selector loaded from " div attribute-selector-component " 
        </i>
        <div app-attribute-selector-component></div>
      </div>


<!-- <class-selector-name>
    Hi! this is class selector as element
    </class-selector-name> -->